@font-face {
  font-family: "BBTreeGB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/BBTreeGB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.nanumsquare {
  font-family: "NanumSquare", sans-serif !important;
}

body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  font-weight: 300;
}

p {
  color: #b3b3b3;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.board_name {
  font-family: "BBTreeGB";
  margin-bottom: 20px;
  font-size: 25px;
}

.board_name_small {
  font-family: "BBTreeGB";
  margin-bottom: 20px;
  font-size: 15px;
  color: #5f5f5f;
  padding-left: 1rem;
}

.board_title {
  color : black;
}
.outline {
  border-top: solid 2.5px;
  border-top-color: #ebc24b;
  padding-top: 10px;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.custom-container {
  width: 70%;
  margin : auto;
}

.custom-container2 {
  width: 85%;
  margin : auto;
  margin-top:6rem;
}

.custom-table {
  min-width: 900px;
  font-family: "NanumSquare", sans-serif !important;
  text-align: center;
  font-size: 13px;
}

.custom-table thead tr,
.custom-table thead th {
  padding-bottom: 15px;
  border-top: none;
  border-bottom: none !important;
}
.custom-table tbody th,
.custom-table tbody td {
  color: black;
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
}
.custom-table tbody th small,
.custom-table tbody td small {
  color: #b3b3b3;
  font-weight: 300;
}
.custom-table tbody tr th,
.custom-table tbody tr td {
  position: relative;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.custom-table tbody tr th:before,
.custom-table tbody tr th:after,
.custom-table tbody tr td:before,
.custom-table tbody tr td:after {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  content: "";
  left: 0;
  right: 0;
  position: absolute;
  height: 1px;
  background: #ebc24b;
  width: 100%;
  opacity: 0;
  visibility: hidden;
}
.custom-table tbody tr th:before,
.custom-table tbody tr td:before {
  top: -1px;
}
.custom-table tbody tr th:after,
.custom-table tbody tr td:after {
  bottom: -1px;
}
.custom-table tbody tr:hover th,
.custom-table tbody tr:hover td {
  background: rgba(0, 123, 255, 0.03);
}
.custom-table tbody tr:hover th:before,
.custom-table tbody tr:hover th:after,
.custom-table tbody tr:hover td:before,
.custom-table tbody tr:hover td:after {
  opacity: 1;
  visibility: visible;
}
.custom-table tbody tr.active th,
.custom-table tbody tr.active td {
  background: rgba(0, 123, 255, 0.03);
}
.custom-table tbody tr.active th:before,
.custom-table tbody tr.active th:after,
.custom-table tbody tr.active td:before,
.custom-table tbody tr.active td:after {
  opacity: 1;
  visibility: visible;
}

/* Custom Checkbox */
.control {
  display: block;
  position: relative;
  margin-bottom: 25px;
  cursor: pointer;
  font-size: 18px;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 4px;
  border: 2px solid #ccc;
  background: transparent;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  border: 2px solid #007bff;
}

.control input:checked ~ .control__indicator {
  border: 2px solid #007bff;
  background: #007bff;
}

.control input:disabled ~ .control__indicator {
  background: #e6e6e6;
  opacity: 0.6;
  pointer-events: none;
  border: 2px solid #ccc;
}

.control__indicator:after {
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
  display: none;
}

.control input:checked ~ .control__indicator:after {
  display: block;
  color: #fff;
}

.control--checkbox .control__indicator:after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -52%);
  -ms-transform: translate(-50%, -52%);
  transform: translate(-50%, -52%);
}

.control--checkbox input:disabled ~ .control__indicator:after {
  border-color: #7b7b7b;
}

.control--checkbox input:disabled:checked ~ .control__indicator {
  background-color: #007bff;
  opacity: 0.2;
  border: 2px solid #007bff;
}

/* pagination */
.page-item:not(:first-child) .page-link {
  margin-left: -1px;
}
.page-link:focus {
  z-index: 3;
  color: #ff9935;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(235 194 75 / 10%);
}

.page-link:hover {
  z-index: 2;
  color: #ff9935;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.page-link {
  padding: 0.375rem 0.75rem;
}
.page-link {
  position: relative;
  font-size: 12px;
  font-weight: 500;
  display: block;
  color: black;
  text-decoration: none;
  background-color: #fff;
  border: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* search */
.form-control_2 {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: "NanumSquare", sans-serif !important;
  font-size: 13px;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-search {
  color: #ff9935;
  border-color: #ff9935;
}
.searching_btn {
  display: inline-block;
  font-family: "BBTreeGB";
  width: 75px;
  line-height: 1.5;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: #ebc24b;
  border: 1px solid #ebc24b;
  padding: 0.375rem 0.75rem;
  font-size: 13px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-search:focus {
  z-index: 3;
  color: white;
  background-color: #ff9935;
  border-color: #ff9935;
  box-shadow: 0 0 0 0.25rem rgb(235 194 75 / 10%);
}

.btn-outline-search:hover {
  z-index: 2;
  color: white;
  background-color: #ff9935;
  border-color: #ff9935;
}

.searching_option {
  display: block;
  width: 100px;
  padding : 7px;
  margin-right: 7px;
  font-family: "NanumSquare", sans-serif !important;
  font-size: 13px;
  text-align: center;
  line-height: 1.5;
  color: black;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control_2:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ffe480;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 200, 0, 0.25);
}

.searching_option:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ffe480;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(255, 200, 0, 0.25);
}

.content_head {
  width : 70px;
  border-right : solid 1px;
  border-right-color: #dee2e6;
  text-align: center;
  font-weight: 600;
}


