<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="card.css" />
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <title>바니를 찾아라!</title>
</head>
<body>
<div id="wrapper">
    <button id="rebutton"onclick="gamerestart()">Restart</button><br> <!--지금은 새로고침이지만 결과 보내기(적립금)-->
	<div id="cardground"></div>

</div>
<script type="text/javascript" src="card.js"></script>
</body>