#wrapper {
  width: 60%;
  height: 100%;
  margin: auto;
}

#rebutton {
  background-color: white;
  color: black;
  border: 2px solid black;
  font-size: 25px;
}

#rebutton:hover {
  background-color: black;
  color: white;
}

img {
  margin: 10px;
}
