<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>
<body>
<script>

	// IMP.request_pay(param, callback) 호출
	IMP.request_pay({ // param
	  pg: "html5_inicis",
	  pay_method: "card", // "card"만 지원됩니다
	  merchant_uid: "issue_billingkey_monthly_0001", // 빌링키 발급용 주문번호
	  customer_uid: "gildong_0001_1234", // 카드(빌링키)와 1:1로 대응하는 값
	  name: "최초인증결제",
	  amount: 0, // 0 으로 설정하여 빌링키 발급만 진행합니다.
	  buyer_email: "gildong@gmail.com",
	  buyer_name: "홍길동",
	  buyer_tel: "010-4242-4242",
	  buyer_addr: "서울특별시 강남구 신사동",
	  buyer_postcode: "01181"
	}, function (rsp) { // callback
	  if (rsp.success) {
	    // 빌링키 발급 성공
	  } else {
	    // 빌링키 발급 실패
	  }
	});

</script>
</body>
</html>