<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="edu.bit.ex.mapper.AdminOrdersMapper">
    <select id="getList" resultType="edu.bit.ex.vo.AdminOrdersVO">
        <![CDATA[
        SELECT D.ORDER_DETAIL_ID,O.TOTAL_PRICE,O.ORDER_DATE,O.MEMBER_IDX,M.MEMBER_NAME,
        M.PAYMENT,O.ORDER_ID FROM ORDERS O 
        INNER JOIN ORDER_DETAIL D ON O.ORDER_ID = D.ORDER_ID
        INNER JOIN MEMBER M ON M.MEMBER_IDX = O.MEMBER_IDX  
        ]]>
    </select>
 
    <select id="read" resultType="edu.bit.ex.vo.AdminOrdersVO">
        <![CDATA[ 
        SELECT D.ORDER_DETAIL_ID AS D_ORDER_DETAIL_ID,O.TOTAL_PRICE AS O_TOTAL_PRICE,O.ORDER_DATE AS O_ORDER_DATE,O.MEMBER_IDX AS O_MEMBER_IDX,M.MEMBER_NAME AS M_MEMBER_NAME,
        M.PAYMENT AS M_PAYMENT,O.ORDER_ID AS O_ORDER_ID FROM ORDERS O 
        INNER JOIN ORDER_DETAIL D ON O.ORDER_ID = D.ORDER_ID
        INNER JOIN MEMBER M ON M.MEMBER_IDX = O.MEMBER_IDX  
        WHERE MEMBER_IDX = #{MEMBER_IDX}
]]>
         </select> 
<!--  
       <update id="update_payment">
        <![CDATA[
           update member set payment = #{payment} where member_idx = #{member_idx}
        ]]>
        </update> 

        <update id="update_total_price">
            <![CDATA[
               update orders set total_price = #{total_price} where member_idx = #{member_idx}
            ]]>
            </update>  -->


</mapper>