<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bit.ex.mapper.ProductMainMapper">
    <select id="getList" resultType="edu.bit.ex.vo.ProductMainVO">
        <![CDATA[
			select product_id, product_name, price 
			from product 
			where category_num = 1
        ]]>
    </select>
    
    <select id="read" resultType="edu.bit.ex.vo.ProductMainVO"> 
    	<![CDATA[
      		select product_id, product_name, price 
      		from product 
      		where product_id = #{product_id}
    	]]>
    </select>

</mapper>