<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bit.ex.mapper.ProductMainMapper">
    <select id="getList" resultType="edu.bit.ex.vo.ProductMainVO">
        <![CDATA[
        SELECT DISTINCT I.IMAGE_ID, P.PRODUCT_NAME, P.PRICE, P.CATEGORY_NUM
		FROM PRODUCT P, IMAGE I
		WHERE I.PRODUCT_ID = P.PRODUCT_ID AND CATEGORY_NUM = '1'
		ORDER BY IMAGE_ID ASC
        ]]>
    </select>

</mapper>