<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.bit.ex.mapper.SelectHitMapper">

	<select id="getHit" resultType="int">
		<![CDATA[
      		select b_hit
      		from barny_board
      		where board_id = #{board_id}
    	]]>
	</select>

	<!--후기 라이크 업뎃-->
	<update id="updateLike">
		<![CDATA[
		update b_like set like_count = like_count + 1 where board_id = #{board_id}
		]]>
	</update>
	<!--후기 라이크 받아오기-->
	<select id="getLike" resultType="int">
		<![CDATA[
      		select like_count
      		from b_like
      		where board_id = #{board_id}
    	]]>
	</select>

</mapper>